<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-justify-content-center">
    <div class="input-container">
        <ion-input [(ngModel)]="midiVal" color="warning"></ion-input>
    </div>
    <div class="buttons-container">
        <ion-grid>
            <ion-row>
                <ion-col size="4" *ngFor="let btn of buttons" class="button-container ion-justify-content-center ion-align-items-center">
                    <ion-fab>
                        <ion-fab-button (click)="buttonClick(btn.value)" fill="outline">{{ btn.text }}</ion-fab-button>
                    </ion-fab>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>