@import '../../theme/variables.scss';

.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

ion-toolbar {
    --background: transparent !important;
    --border-width: 0;
    --border-color: none;
}

ion-header::after {
    display: none;
}

ion-range {
    transform: rotate(-90deg) translateX(-70px);
}

ion-grid {
    --padding-bottom: 15px;
    --padding-top: 15px;
    --padding-left: 15px;
    --padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 70px);
}

.value-label {
    color: var(--ion-color-warning);
}

//.empty-space {
//    flex-grow: 2;
//}

.tempo-key-group {
    flex-grow: 1;

    .slider-row {
        height: calc(100% - 56px);

        .slider-col {
            height: 100%;
            display: flex;
        }
    }
}

.voice-groups-container {
    margin-top: 40px;
}

.player-container {
    margin-top: 40px;
}

.player-controls-container {
    margin-top: 40px;
    display: flex;

    ion-col {
        display: flex;
    }

    ion-fab-button {
        --background: none;
        --border-color: white;
        --border-style: solid;
        --border-width: 2px;
        --color: white;
        --box-shadow: none !important;
        --background-activated: var(--ion-color-warning);
        --color-activated: var(--ion-color-warning-contrast);
    }
}