<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ title }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="/list">
                <ion-icon name="grid"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-grid>
        <!--TEMPO & KEY-->
        <ion-row class="tempo-key-group">
            <ion-col>
                <!--TEMPO-->
                <ion-row>
                    <ion-col class="ion-text-center">
                        TEMPO
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <span class="value-label">{{tempoVal}}</span>
                    </ion-col>
                </ion-row>
                <ion-row class="slider-row">
                    <ion-col class="slider-col ion-justify-content-center">
                        <ng5-slider [(value)]="tempoVal" [options]="tempoOptions"
                            (userChangeEnd)="onTempoChange($event)"></ng5-slider>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-col class="ion-text-center">
                        KEY
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <span class="value-label">{{ showKey(keyPos) }}</span>
                    </ion-col>
                </ion-row>
                <ion-row class="slider-row">
                    <ion-col class="slider-col ion-justify-content-center">
                        <ng5-slider [(value)]="keyVal" [options]="keyOptions" (userChangeEnd)="onKeyChange($event)">
                        </ng5-slider>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row class="empty-space">
        </ion-row>
        <!--BUTTONS-->
        <ion-row class="voice-groups-container">
            <ion-col class="ion-text-center">
                <span>VOICE GROUPS</span>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngFor="let voice of voices" class="ion-no-padding">
                <ion-button color="warning" [fill]="voice.enabled ? 'solid' : 'outline'" style="text-transform:
                    uppercase; width: 93%" (click)="toggleTrack(voice.index)">
                    Gr. {{ voice.index }}
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="empty-space"></ion-row>
        <!--PLAYER-->
        <ion-row class="player-container">
            <ion-col size="2" class="ion-align-items-center
                ion-justify-content-end" style="display: flex;">
                <p class="ion-no-margin">
                    {{ showTime(playerVal, false) }}
                </p>
            </ion-col>
            <ion-col size="8">
                <ng5-slider [(value)]="playerVal" [options]="playerOptions" class="player-slider"
                    (userChangeEnd)="onPlayerChange($event)"></ng5-slider>
            </ion-col>
            <ion-col size="2" class="ion-align-items-center
                ion-justify-content-start" style="display: flex;">
                <p class="ion-no-margin">{{ showTime(totalTime, false) }}</p>
            </ion-col>
        </ion-row>
        <!--PLAYER CONTROLS-->
        <ion-row class="player-controls-container">
            <ion-col size="2" offset="2" class="ion-text-center
                ion-justify-content-center">
                <ion-fab>
                    <ion-fab-button size="small" [disabled]="!mdiPlayer" (click)="stop()">
                        <ion-icon name="square"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-col>
            <ion-col size="4" class="ion-text-center
                ion-justify-content-center">
                <ion-fab>
                    <ion-fab-button [disabled]="!mdiPlayer" (click)="pausePlay()">
                        <ion-icon [name]="mdiPlayer && mdiPlayer.isPlaying() ?
                            'pause' : 'play'"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-col>
            <ion-col size="2" class="ion-text-center
                ion-justify-content-center">
                <ion-fab>
                    <ion-fab-button size="small" [disabled]="!mdiPlayer" [ngClass]="{'fill': repeat}" class="repeater">
                        <ion-icon name="repeat"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>